abTEM==1.0.9
hyperspy==2.4.0
ipykernel==6.29.5
ipympl @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_ipympl_1769263121/work
ipython @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_ipython_1770040907/work
ipython-genutils==0.2.0
ipython_pygments_lexers @ file:///home/conda/feedstock_root/build_artifacts/ipython_pygments_lexers_1737123620466/work
ipywidgets @ file:///home/conda/feedstock_root/build_artifacts/ipywidgets_1762040433881/work
matplotlib==3.10.8
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1761214490209/work
numpy==1.26.4
pandas==3.0.1
plotly==6.5.2
pyFAI==2025.12.1
pymatgen==2024.8.9
scikit-image==0.26.0
scipy==1.17.0
streamlit>=1.28.0
fabio>=0.14.0
