numpy==1.26.4
scipy==1.17.0
matplotlib==3.10.8
scikit-image==0.26.0
pandas==3.0.1
hyperspy==2.4.0
pyFAI==2025.12.1
pymatgen==2024.8.9
fabio>=0.14.0
abtem==1.0.9
ipywidgets>=7.6.0
IPython>=7.0.0
streamlit>=1.28.0
plotly==6.5.2
